@charset "utf-8";


body {
	width:auto;
  font-size: 16px;
  background-color:#FFF;
  font-family: Grandview, Arial, Calibri;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
a{
	color:#001;
	text-decoration:none;
	}

h1{
color:#RRR;
text-align:center;
font-size: 1.7em;
padding-bottom:50px;
margin:0px;
font-family: Grandview, Arial, Calibri;
}
p{
	color:#PPP;
	font-size:20px;
	font-family: Grandview, Arial, Calibri;
}

li{

display:inline;
padding-left:3px;
padding-right:3px;


}
.palabrascabecera{
	
	width:800px;
	
	
}
.linkscabecera{
	font-family: Grandview, Arial, Calibri;
	
}

.link{
	
color:blue;	
	
	
}

.juegos{
	
text-align:center;	
	
}
.cliden-etiq {
    float: left;
    width: 236px;
    min-height: 30px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: #F3E2A9;
    font: 14px Arial, serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 1px;
}
.titulo{
	
font-size:60px;

font-family:Grandview, Arial, Calibri;	
	
}
.subtitulo{
	
font-size:30px;

font-family:Grandview, Arial, Calibri;	
	
}

.linkscabecera{
	
font-weight:bold;	
	
}
.apartado{

height:800px;


}
.texto{

	font-size:32px;
	width:800px;
	margin-left:350px;
	line-height:1.5em;
	font-family:calibri;
	
}

.chistes{

color:#8a8787;
border: black 3px solid;
margin-left:auto;
margin-right:auto;
width:500px;
line-height:1em;
}

#figurasmiley{
	
text-align:center;

}
#smiley{
	
width:250px;
height:160px;	
}

#parte1{
	
	
width:250px;
height:290px;
position:absolute;
margin-left:25px;
}
#parte2{
	width:200px;	
	height:250px;
	margin-left:300px;
}
#chiste1{
	
	
	height:160px;
}
#chiste2{
	
	
	height:190px;
}
#chiste3{
	
	
	height:130px;
}

#banner{
height:80px;
background-color:#FFF;
border-bottom:2px solid #f8f8f8;
}

#quelle{
	
color:#000;	
padding-left:40px;	
	
}
#cabecera{


margin-left:350px;
padding-top:30px;

font-size:16px;

}

#imagenfondo{

background-image:url("imagenfondooscura.png");
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
height:800px;
width:100%;

}

#datoscontacto{
	
margin-left:550px;	

	
}
#puntitosazules{
	
position:absolute;	
margin-top:50px;	
}

#punto1{
position:absolute;
margin-left:900px;	

}

#punto2{
	
margin-left:460px;	
	
}
#foto1{
position:absolute;
margin-left:5px;
}
#foto2{

position:absolute;
margin-left:250px;
}
#foto3{
width:250px;
margin-left:500px;
}

#ordenador{
	
	
	
height:200px;
width:200px;	
margin-left:100px;
	
	
}

#libros{
	
height:200px;
width:200px;	
margin-left:315px;
	
}
#escaleras{
	
height:200px;
width:200;	
position:absolute;
margin-left:550px;
	
}

#online{
	
font-weight:bold;
position:absolute;
margin-left:150px;
width:300px;	
}

#nivel{
font-weight:bold;	
position:absolute;
margin-left:350px;
width:300px;
}
#velocidad{
font-weight:bold;
position:absolute;
margin-left:590px;
margin-top:220px;
width:300px;
}


#textos{
	
font-weight:bold;
	margin-left:145px;

font-size:25px;
		
}


#texto1{

color:#6f6f6f;
position:absolute;
margin-left:50px;
width:300px;
margin-top:80px;	
}

#texto2{
	color:#6f6f6f;
position:absolute;
margin-left:295px;
width:300px;
margin-top:80px;
}
#texto3{
	color:#6f6f6f;
position:absolute;
margin-left:540px;
width:300px;
margin-top:280px;
}


#JordiSpanischlehrer{
	
padding-top:200px;
color:#fff;	
}




#allenebenen{
padding-top:50px;

		
}

#wild{


color:#fff;
padding-top:50px;


}


#salvaje{
border:none;
height:50px;
width:300px;
position:absolute;

margin-left:620px;
background-color:#23a455;
border-radius:10%;
color:#ffffff;
justify-content:center;
}



#footermapa{


font-size:12px;
}

#spass{
color:#fff;

padding-top:50px;
}



#logo{

float:left;

}




#jordicastellon{

position:absolute;
width:250px;
height:200px;
margin-left:100px;
margin-top:40px;
}

#textojordicastellon{
position:absolute;
margin-top:250px;	
	
}
#castellonjordi{

position:absolute;
width:175px;
height:175px;
margin-left:550px;
margin-top:50px;	
}


#fotobobesponja{
	
width:400px;
}
#bobesponja{

position:absolute;
width:200px;
height:200px;
margin-left:900px;
margin-top:40px;
}


#facebook{
position:absolute;
margin-top:320px;
margin-left:75px;
width:40px;
height:50px;
	
	
}

#linked{
margin-top:320px;	
width:50px;
height:50px;
margin-left:120px;	
position:absolute;

}

#insta{
	position:absolute;
width:50px;
height:50px;	
margin-top:320px;
margin-left:170px;
}
#tweeter{
	position:absolute;
width:55px;
height:50px;
margin-top:320px;	
margin-left:225px;
}


#whatsapp{
	position:absolute;
width:50px;
height:50px;	
margin-top:320px;
margin-left:285px;	
}

#youtube{

position:absolute;
width:60px;
height:50px;
margin-top:320px;
margin-left:340px;
}
#textojordicastellon1{
position:absolute;	
margin-top:250px;	
margin-left:130px;
font-weight:bold;
}
#textocastellonjordi1{

position:absolute;
margin-left:550px;
margin-top:250px;
font-weight:bold;
}
#texotbobesponja1{
position:absolute;
font-weight:bold;
margin-left:900px;
margin-top:250px;

}
#tituloseequipo{
	
font-family: Grandview, Arial, Calibri;	
	
	
}
#textoequipo{

margin-top:100px;	
font-family: Grandview, Arial, Calibri;
	
	
}
#textojordicastellon{
	
margin-top:280px;
margin-left:100px;

}
#textocastellonjordi{

position:absolute;
margin-left:550px;
margin-top:280px;
}
#texotbobesponja{
position:absolute;
margin-left:930px;
margin-top:280px;
}





#fotoprincipal{
margin-top:100px;
width:100vw;
margin-left:500px;
display:inline-block;
overflow:hidden;
}



#cuarto{
background-color:#000;
height:1200px;
}


#textoapcuarto{

color:#6f6f6f;
position:absolute;
margin-left:300px;

font-family: Grandview, Arial, Calibri;
}
#video1{

position:absolute;
margin-left:20px;

}
#frame1{
	
	
width:560px;
height:315px;	
}
#video2{

position:absolute;
margin-top:330px;
margin-left:20px;
}

#frame2{
	
	
width:560px;
height:315px;	
}
#video3{

position:absolute;
margin-top:660px;
margin-left:20px;
}

#frame3{
	
	
width:560px;
height:315px;	
}

#tercero{
background-color:#43CB8B;
height:500px;
}


#pins{
	
position:absolute;	
margin-top:100px;
margin-left:30px;
}


#titulouebermich{
	
text-align:left;
margin-left:200px;
	
}

#titulokontakt{
	
text-align:left;
margin-left:200px;
	
}

#youtube2{
margin-top:1000px;
margin-left:20px;
color:#9c9c9c;	
width:400px;
	
	
}

#titulowild{
	
text-align:left;
margin-left:200px;
	
}
#titulodanksagung{
	
	text-align:left;
margin-left:200px;
	
}
#titulowitze{
	
text-align:left;
margin-left:200px;
}
#titulospiele{
	
	text-align:left;
margin-left:200px;
	
}
#nombretitulo{
position: absolute;
margin-left:50%;
color:white;
}

#botonesprincipales{
	
margin-top:100px;
text-align:center;
	
	
}

#botonkontakt{
border:none;
height:50px;
width:100px;
position:absolute;
margin-left:70px;


background-color:#77b978;
border-radius:10%;
color:#ffffff;

}

#botonuebermich{

border:none;
height:50px;
width:100px;

background-color:#f37262;
border-radius:10%;
color:#ffffff
}

#quinto{

height:600px;
}

#team{
padding-top:50px;	
	
}
#footer{
text-align:center;
font-size:12px;	
	
	
}
@media (max-width:1410px){
#banner{
	
height:100px;	
	
}
#cabecera{
line-height:30px;

}	
	
#jordicastellon{

position:absolute;
width:250px;
height:200px;
margin-left:10px;
margin-top:40px;
}

#textojordicastellon{
position:absolute;
margin-top:250px;	
	
}
#castellonjordi{

position:absolute;
width:175px;
height:175px;
margin-left:550px;
margin-top:50px;	
}


#fotobobesponja{
	
width:400px;
}
#bobesponja{

position:absolute;
width:200px;
height:200px;
margin-left:900px;
margin-top:40px;
}


#facebook{
position:absolute;
margin-top:320px;
margin-left:75px;
width:40px;
height:50px;
	
	
}

#linked{
margin-top:320px;	
width:50px;
height:50px;
margin-left:120px;	
position:absolute;
}

#insta{
	position:absolute;
width:50px;
height:50px;	
margin-top:320px;
margin-left:170px;
}
#tweeter{
	position:absolute;
width:55px;
height:50px;
margin-top:320px;	
margin-left:225px;
}


#whatsapp{
	position:absolute;
width:50px;
height:50px;	
margin-top:320px;
margin-left:285px;	
}

#youtube{

position:absolute;
width:60px;
height:50px;
margin-top:320px;
margin-left:340px;
}

#tituloseequipo{
	
font-family: Grandview, Arial, Calibri;	
	
	
}
#textoequipo{

margin-top:100px;	
font-family: Grandview, Arial, Calibri;
	
	
}
#textojordicastellon{
	
margin-top:280px;
margin-left:100px;

}
#textocastellonjordi{

position:absolute;
margin-left:550px;
margin-top:280px;
}
#texotbobesponja{
position:absolute;
margin-left:930px;
margin-top:280px;
}


#textojordicastellon1{
position:absolute;	
margin-top:250px;	
margin-left:130px;
font-weight:bold;
}
#textocastellonjordi1{

position:absolute;
margin-left:550px;
margin-top:250px;
font-weight:bold;
}
#texotbobesponja1{
position:absolute;
font-weight:bold;
margin-left:900px;
margin-top:250px;

}

	
	
	
}	
	



@media (max-width:1510px){
	
body {
  font-size: 16px;
  background-color:#FFF;
  font-family: Grandview, Arial, Calibri;
}


.titulo{
	
font-size:30px;


	
}




#foto1{
position:absolute;
margin-left:5px;
}
#foto2{

position:absolute;
margin-left:125px;
}
#foto3{
width:250px;
margin-left:250px;
}

#ordenador{
	
	
	
height:200px;
width:200px;	
margin-left:50px;
	
	
}

#libros{
	
height:200px;
width:200px;	
margin-left:300px;
	
}
#escaleras{
	
height:200px;
width:200;	
position:absolute;
margin-left:470px;
	
}

#online{
	
font-weight:bold;
position:absolute;
margin-left:100px;
width:300px;	
}

#nivel{
font-weight:bold;	
position:absolute;
margin-left:325px;
width:300px;
}
#velocidad{
font-weight:bold;
position:absolute;
margin-left:515px;
margin-top:220px;
width:300px;
}


#textos{
	
font-weight:bold;
	margin-left:145px;

font-size:25px;
		
}


#texto1{

color:#6f6f6f;
position:absolute;
margin-left:5px;
width:300px;
margin-top:80px;	
}

#texto2{
	color:#6f6f6f;
position:absolute;
margin-left:295px;
width:300px;
margin-top:80px;
}
#texto3{
	color:#6f6f6f;
position:absolute;
margin-left:480px;
width:300px;
margin-top:280px;
}


#JordiSpanischlehrer{
	
padding-top:200px;
color:#fff;	
}




#allenebenen{
padding-top:50px;
	
}

#salvaje{



margin-left:300px;


}
´
#textoapcuarto{

color:#6f6f6f;
position:absolute;
font-family: Grandview, Arial, Calibri;
}

#textoapartadocuarto{
margin-left:270px;
font-size:30px;
width:490px;

}
#frame1{
	
	
width:530px;
height:270px;	
}
#frame2{
	
	
width:530px;
height:270px;	
}
#frame3{
	
	
width:530px;
height:270px;	
}
#cuarto{
	
height:1300px;	
	
}
#quinto{

height:600px;
}




#jordicastellon{

position:absolute;
width:250px;
height:200px;
margin-left:100px;
margin-top:40px;
}

#textojordicastellon{
position:absolute;
margin-top:250px;	
	
}
#castellonjordi{

position:absolute;
width:175px;
height:175px;
margin-left:550px;
margin-top:50px;	
}


#fotobobesponja{
	
width:400px;
}
#bobesponja{

position:absolute;
width:200px;
height:200px;
margin-left:900px;
margin-top:40px;
}


#facebook{
position:absolute;
margin-top:320px;
margin-left:75px;
width:40px;
height:50px;
	
	
}

#linked{
margin-top:320px;	
width:50px;
height:50px;
margin-left:120px;	
position:absolute;
}

#insta{
	position:absolute;
width:50px;
height:50px;	
margin-top:320px;
margin-left:170px;
}
#tweeter{
	position:absolute;
width:55px;
height:50px;
margin-top:320px;	
margin-left:225px;
}


#whatsapp{
	position:absolute;
width:50px;
height:50px;	
margin-top:320px;
margin-left:285px;	
}

#youtube{

position:absolute;
width:60px;
height:50px;
margin-top:320px;
margin-left:340px;
}

#tituloseequipo{
	
font-family: Grandview, Arial, Calibri;	
	
	
}
#textoequipo{

margin-top:100px;	
font-family: Grandview, Arial, Calibri;
	
	
}
#textojordicastellon{
	
margin-top:280px;
margin-left:100px;

}
#textocastellonjordi{

position:absolute;
margin-left:550px;
margin-top:280px;
}
#texotbobesponja{
position:absolute;
margin-left:930px;
margin-top:280px;
}


#textojordicastellon1{
position:absolute;	
margin-top:250px;	
margin-left:130px;
font-weight:bold;
}
#textocastellonjordi1{

position:absolute;
margin-left:550px;
margin-top:250px;
font-weight:bold;
}
#texotbobesponja1{
position:absolute;
font-weight:bold;
margin-left:900px;
margin-top:250px;

}






}

@media (max-width:1090px){
	
.titulo{
	
font-size:25px;


	
}
.subtitulo{
	
font-size:20px;


	
}

#segundo{
height:1400px;
}	
	
	

#foto1{
position:absolute;

text-align:center;
}
#foto2{

margin-top:400px;
margin-left:150px;
}
#foto3{
width:150px;
margin-left:45px;

}

#ordenador{
	
	
	
height:150px;
width:150px;	
margin-left:340px;
	
	
}

#libros{
	
height:150px;
width:150px;	
margin-left:200px;
	
}
#escaleras{
	
height:150px;
width:150;	
position:absolute;
margin-left:300px;
margin-top:750px;	
}

#online{
	
font-weight:bold;
position:absolute;
margin-left:260px;
width:300px;	
}

#nivel{
font-weight:bold;	
position:absolute;
margin-left:200px;
width:300px;
}
#velocidad{
font-weight:bold;
position:absolute;
margin-left:300px;
margin-top:930px;
width:300px;
}


#textos{
	
font-weight:bold;
	margin-left:14px;

font-size:25px;

}


#texto1{

color:#6f6f6f;
position:absolute;
margin-left:270px;
width:300px;
margin-top:80px;	
}

#texto2{
	color:#6f6f6f;
position:absolute;
margin-left:150px;
width:300px;
margin-top:80px;
}
#texto3{
	color:#6f6f6f;
position:absolute;
margin-left:250px;
width:300px;
margin-top:1000px;
}


#salvaje{



margin-left:120px;


}
#cuarto{
	
height:1900px;	
	
	
}
#textoapcuarto{

margin-left:100px;


}

#youtube2{
margin-top:900px;
margin-left:250px;	
}
#textoapartadocuarto{
position:absolute;
font-size:25px;
width:600px;
margin-left:0px;
margin-top:1050px;

}



#frame1{
	
margin-left:150px;
width:500px;
height:230px;	
}

#frame2{
	
margin-left:150px;	
width:500px;
height:230px;
}

#frame3{
	
margin-left:150px;	
width:500px;
height:230px;
}



#quinto{
	
height:1100px;	
	
}




#jordicastellon{
	
width:200px;
height:160px;
margin-left:150px;

}
#castellonjordi{
	
width:140px;
height:140px;
margin-left:180px;
margin-top:400px;

	
}
#bobesponja{
	
width:160px;
height:160px;
margin-left:170px;
margin-top:670px;
}

#facebook{
	
margin-top:268px;
margin-left:80px;
width:40px;
height:50px;
	
	
}

#linked{
	
width:50px;
height:50px;
margin-top:270px;	
	
}

#insta{
	
width:50px;
height:50px;	
margin-top:270px;
}
#tweeter{
	
width:55px;
height:50px;
margin-top:270px;
	
}


#whatsapp{
	
width:50px;
height:50px;	
margin-top:270px;
	
}

#youtube{


width:60px;
height:50px;
margin-top:270px;	
}
#textojordicastellon{
	
position:absolute;
margin-left:120px;
margin-top:230px;
}
#textocastellonjordi{

position:absolute;
margin-left:150px;
margin-top:580px;
}
#texotbobesponja{
position:absolute;
margin-left:180px;
margin-top:860px;
}

#textojordicastellon1{
	
position:absolute;
margin-left:160px;
font-weight:bold;
margin-top:200px;
}
#textocastellonjordi1{

position:absolute;
margin-left:160px;
font-weight:bold;
margin-top:550px;
}
#texotbobesponja1{
position:absolute;
font-weight:bold;
margin-left:110px;
margin-top:830px;
}
#tituloseequipo{
	
font-family: Grandview, Arial, Calibri;	
	
	
}
#textoequipo{

margin-top:100px;	
font-family: Grandview, Arial, Calibri;
	
	
}




}



@media (max-width:700px){
	
	
#banner{
height:100px;
line-height:30px;
}
#cabecera{
	
width:400px;	
margin-left:10px;
	
}
	
#segundo{
height:1400px;
}	
	
	
#foto2{
position:absolute;
margin-left:auto;
margin-top:370px;

}
#foto3{
position:absolute;
width:150px;
margin-left:7px;
margin-top:450px;

}

#ordenador{
	

height:150px;
width:150px;	
margin-left:150px;
margin-top:9px;	
	
}

#libros{
	
height:150px;
width:150px;	
margin-left:150px;
	
}
#escaleras{
	
height:150px;
width:150;	
position:absolute;
margin-left:140px;
margin-top:260px;	
}

#online{
	
font-weight:bold;
margin-left:180px;
width:30px;	
}

#nivel{
font-weight:bold;	
position:absolute;
margin-left:160px;

}
#velocidad{
font-weight:bold;
position:absolute;
margin-left:150px;
margin-top:430px;

}


#textos{
	
font-weight:bold;
margin-left:14px;

font-size:25px;

}


#texto1{

color:#6f6f6f;
position:absolute;
margin-left:85px;
width:300px;
margin-top:65px;	
}

#texto2{
color:#6f6f6f;
position:absolute;
margin-left:110px;
width:300px;
margin-top:70px;
}
#texto3{
color:#6f6f6f;
margin-left:80px;
width:300px;
margin-top:470px;
}


#salvaje{

margin-left:120px;

}


#textoapartadocuarto{
margin-top:650px;
margin-left:10px;
font-size:25px;
width:350px;

}
#frame1{
	
margin-left:20px;
width:300px;
height:150px;	
}
#frame2{
margin-left:20px;
margin-top:-150px;
width:300px;
height:150px;
}

#video3{
	
margin-top:400px;
	
	
	
}
#frame3{
margin-left:20px;
	
width:300px;
height:150px;	
}

#youtube2{
margin-top:590px;
font-size:15px;	
margin-left:100px;
}
#cuarto{
	
height:2000px;	
	
}


#quinto{
	
height:1100px;	
	
}




#jordicastellon{
	
width:200px;
height:160px;
margin-left:150px;

}
#castellonjordi{
	
width:140px;
height:140px;
margin-left:180px;
margin-top:400px;

	
}
#bobesponja{
	
width:160px;
height:160px;
margin-left:170px;
margin-top:670px;
}

#facebook{
	
margin-top:268px;
margin-left:80px;
width:40px;
height:50px;
	
	
}

#linked{
	
width:50px;
height:50px;
margin-top:270px;	
	
}

#insta{
	
width:50px;
height:50px;	
margin-top:270px;
}
#tweeter{
	
width:55px;
height:50px;
margin-top:270px;
	
}


#whatsapp{
	
width:50px;
height:50px;	
margin-top:270px;
	
}

#youtube{


width:60px;
height:50px;
margin-top:270px;	
}
#textojordicastellon{
	
position:absolute;
margin-left:120px;
margin-top:230px;
}
#textocastellonjordi{

position:absolute;
margin-left:150px;
margin-top:580px;
}
#texotbobesponja{
position:absolute;
margin-left:180px;
margin-top:860px;
}

#textojordicastellon1{
	
position:absolute;
margin-left:160px;
font-weight:bold;
margin-top:200px;
}
#textocastellonjordi1{

position:absolute;
margin-left:160px;
font-weight:bold;
margin-top:550px;
}
#texotbobesponja1{
position:absolute;
font-weight:bold;
margin-left:110px;
margin-top:830px;
}
#tituloseequipo{
	
font-family: Grandview, Arial, Calibri;	
	
	
}
#textoequipo{

margin-top:100px;	
font-family: Grandview, Arial, Calibri;
	
	
}


}