@charset "utf-8";


body {
  font-size: 16px;
  background-color:#FFF;
  font-family: Grandview, Arial, Calibri;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
a{
	color:#001;
	text-decoration:none;
	}

h1{
color:#RRR;
text-align:center;
font-size: 1.7em;
padding-bottom:50px;
margin:0px;
font-family: Grandview, Arial, Calibri;
}
p{
	color:#PPP;
	font-size:20px;
	font-family: Grandview, Arial, Calibri;
}

li{

display:inline;
padding-left:3px;
padding-right:3px;


}
.palabrascabecera{
	
	width:800px;
	
	
}
.linkscabecera{
	font-family: Grandview, Arial, Calibri;
	
}

.link{
	
color:blue;	
	
	
}

.juegos{
	
text-align:center;	
	
}
.cliden-etiq {
    float: left;
    width: 236px;
    min-height: 30px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: #F3E2A9;
    font: 14px Arial, serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 1px;
}
.titulo{
	
font-size:60px;

font-family:Grandview, Arial, Calibri;	
	
}
.subtitulo{
	
font-size:30px;

font-family:Grandview, Arial, Calibri;	
	
}

.linkscabecera{
	
font-weight:bold;	
	
}
.apartado{

height:800px;


}
.texto{

	font-size:32px;
	width:800px;
	margin-left:350px;
	line-height:1.5em;
	font-family:calibri;
	
}


#banner{
height:80px;
background-color:#FFF;
border-bottom:2px solid #f8f8f8;
}

#quelle{
	
color:#000;	
padding-left:40px;	
	
}
#cabecera{


margin-left:350px;
padding-top:30px;

font-size:16px;

}

#imagenfondo{

background-image:url("d:/Users/Jordi/Desktop/todo/cursos programacion/imagenes/imagenfondooscura.png");
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
height:800px;
width:100%;

}

#datoscontacto{
	
margin-left:550px;	

	
}
#puntitosazules{
	
position:absolute;	
margin-top:50px;	
}

#punto1{
position:absolute;
margin-left:900px;	

}

#punto2{
	
margin-left:460px;	
	
}
#fotos{
	
margin-left:5px;
}


#ordenador{
	
	
	
height:200px;
width:200px;	
margin-left:100px;
	
	
}

#libros{
	
height:200px;
width:200px;	
position:absolute;	
margin-left:270px;
	
}
#escaleras{
	
height:200px;
width:200;	
position:absolute;
margin-left:770px;
	
}



#JordiSpanischlehrer{
	
padding-top:200px;
color:#fff;	
}

#Spanischunterricht{
	

	
}


#allenebenen{
padding-top:50px;

		
}
#eineausbildung{


		
}
#wild{


color:#fff;
padding-top:50px;


}
#footermapa{


font-size:12px;
}

#spass{
color:#fff;

padding-top:50px;
}
#online{
	
font-weight:bold;
position:absolute;
margin-left:50px;
width:300px;	
}

#nivel{
font-weight:bold;	
position:absolute;
margin-left:500px;
width:300px;
}
#velocidad{
font-weight:bold;
position:absolute;
margin-left:1010px;
width:300px;
}


#textos{
	
font-weight:bold;
	margin-left:145px;

font-size:25px;
		
}

#textoagrad{
	

		
}

#texto1{

color:#6f6f6f;
position:absolute;
width:300px;
margin-top:80px;	
}

#texto2{
	color:#6f6f6f;
position:absolute;
margin-left:450px;
width:300px;
margin-top:80px;
}
#texto3{
	color:#6f6f6f;
position:absolute;
margin-left:950px;
width:300px;
margin-top:80px;
}



#logo{

float:left;

}



#jordicastellon{
	
width:250px;
height:200px;
margin-left:150px;

}
#castellonjordi{
	
width:175px;
height:175px;
margin-left:150px;
	
}
#bobesponja{
	
width:200px;
height:200px;
margin-left:200px;
	
}

#facebook{
	
margin-top:80px;
margin-left:130px;
width:40px;
height:50px;
	
	
}

#linked{
	
width:50px;
height:50px;
	
	
}

#insta{
	
width:50px;
height:50px;	
}
#tweeter{
	
width:55px;
height:50px;
	
}


#whatsapp{
	
width:50px;
height:50px;	
	
}

#youtube{


width:60px;
height:50px;
	
}
#textojordicastellon1{
	
position:absolute;
margin-left:230px;
font-weight:bold;
}
#textocastellonjordi1{

position:absolute;
margin-left:600px;
font-weight:bold;
}
#texotbobesponja1{
position:absolute;
font-weight:bold;
margin-left:930px;
}
#tituloseequipo{
	
font-family: Grandview, Arial, Calibri;	
	
	
}
#textoequipo{

margin-top:100px;	
font-family: Grandview, Arial, Calibri;
	
	
}
#textojordicastellon{
	
position:absolute;
margin-left:200px;
}
#textocastellonjordi{

position:absolute;
margin-left:600px;
}
#texotbobesponja{
position:absolute;
margin-left:1000px;
}





#fotoprincipal{
margin-top:100px;
width:100vw;
margin-left:500px;
display:inline-block;
overflow:hidden;
}



#cuarto{
background-color:#000;
height:1200px;
}


#textoapcuarto{

color:#6f6f6f;
position:absolute;
margin-left:300px;

font-family: Grandview, Arial, Calibri;
}
#video1{

position:absolute;
margin-left:20px;

}
#video2{

position:absolute;
margin-top:330px;
margin-left:20px;
}
#video3{

position:absolute;
margin-top:660px;
margin-left:20px;
}

#tercero{
background-color:#43CB8B;
height:500px;
}


#pins{
	
position:absolute;	
margin-top:100px;
margin-left:30px;
}


#titulouebermich{
	
text-align:left;
margin-left:200px;
	
}

#titulokontakt{
	
text-align:left;
margin-left:200px;
	
}

#youtube2{
margin-top:1000px;
margin-left:20px;
color:#9c9c9c;	
width:400px;
	
	
}

#titulowild{
	
	text-align:left;
margin-left:200px;
	
}
#titulodanksagung{
	
	text-align:left;
margin-left:200px;
	
}
#titulowitze{
	
text-align:left;
margin-left:200px;
}
#titulospiele{
	
	text-align:left;
margin-left:200px;
	
}
#nombretitulo{
position: absolute;
margin-left:50%;
color:white;
}

#botonesprincipales{
	
margin-top:100px;
	
	
	
}

#botonkontakt{
border:none;
height:50px;
width:100px;
position:absolute;

margin-left:620px;
background-color:#77b978;
border-radius:10%;
color:#ffffff;

}

#botonuebermich{

border:none;
height:50px;
width:100px;
position:absolute;
margin-left:750px;

background-color:#f37262;
border-radius:10%;
color:#ffffff
}

#salvaje{
border:none;
height:50px;
width:300px;
position:absolute;

margin-left:620px;
background-color:#23a455;
border-radius:10%;
color:#ffffff;


}


#footer{
text-align:center;
font-size:12px;	
	
	
}







